//伸缩盒（旧）
@mixin box($pack:left,$align:left,$orient:horizontal){
    display: -webkit-box;
    display: box;
    -webkit-box-pack: $pack;
    box-pack: $pack; 
    -webkit-box-align: $align;
    box-align: $align;
    -webkit-box-orient: $orient;
    box-orient: $orient;
}
@mixin pack-c{@include box($pack:center);}
@mixin align-c{@include box($align:center);}
@mixin box-v{@include box($orient:vertical)}
@mixin box-c{@include box($pack:center,$align:center)}

//文本溢出省略号显示
@mixin ellipsis($line:1){
  @if $line==1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    @else {
        display: -webkit-box;
        -webkit-line-clamp: $line;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

// 过渡
@mixin transition($transition...) {
    -webkit-transition:$transition;
    -moz-transition:$transition;
    -o-transition:$transition;
    transition:$transition;
}

// 旋转位置
@mixin transform-origin($origin...) {
    -webkit-transform-origin:$origin;
    -moz-transform-origin:$origin;
    -o-transform-origin:$origin;
    transform-origin:$origin;
}

//转换
@mixin transform($transform...) {
    -webkit-transform:$transform;
    -moz-transform:$transform;
    -o-transform:$transform;
    transform:$transform;
}

// 动画名称
@mixin animation($aniName...) {
    -webkit-animation:$aniName;
    -moz-animation:$aniName;
    -o-animation:$aniName;
    animation:$aniName;
}
// 延迟执行时间
@mixin animation-delay($time) {
    -webkit-animation-delay:$time;
    -moz-animation-delay:$time;
    -o-animation-delay:$time;
    animation-delay:$time;
}
// 延迟执行时间
@mixin transition-delay($time) {
    -webkit-transition-delay:$time;
    -moz-transition-delay:$time;
    -o-transition-delay:$time;
    transition-delay:$time;
}
// 关键帧
@mixin keyframes($animationName) {  
    @-webkit-keyframes #{$animationName} {  
        @content;  
    }  
    @-moz-keyframes #{$animationName} {  
        @content;  
    }  
    @-o-keyframes #{$animationName} {  
        @content;  
    }  
    @keyframes #{$animationName} {  
        @content;  
    }  
}

//高清屏 1px问题简单处理
//@include retina-border($position:relative){
//    border:1px solid #ddd;
//    border-radius:rem(3);
//}
@mixin retina-border($position:relative,$class:before){
    @media (-webkit-min-device-pixel-ratio: 2) { 
        &{border:none;position: $position}
        &:#{$class}{
            content:"";
            position: absolute;
            left:0;
            top:0;
            width: 200%;
            height: 200%;
            pointer-events: none;
            z-index: -1;
            @include transform-origin(left top);
            @include transform(scale(.5));
            @content;
        }
    }
}

//统一按钮样式
@mixin btn-css($w:110,$h:36,$color:#fff,$bg:$c-btn){
    display: block;width:$w+px;height:$h+px;background:$bg;@include box-c;color:$color;line-height: 0;
    &:hover{background:lighten($bg,5%);}
    &:active{background:darken($bg,5%);}
    &.dis{pointer-events: none;background:#d9d9d9;color:#fff;border:none;}
}

//统一图片样式
@mixin imgbox($w:0,$h:0){
    width:$w;height:$h;overflow:hidden;
    img{display: block;width:100%;}
}